<!DOCTYPE html>
<html>
  <head>
    <title>定期总结与及时沟通</title>
    {% load static %}
    <link rel="stylesheet"
          href="{% static "material-components-web/dist/material-components-web.css" %}">
    <style>
      body {
        margin: 0 24px;
      }
      main {
        padding-top: 24px;
      }
    </style>
  </head>
  <body class="mdc-typography">
    <header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title">{% block title %}{% endblock %}</span>
        </section>
      </div>
    </header>
    <main class="mdc-toolbar-fixed-adjust">
      {% block content %}{% endblock %}
    </main>
    <script src="{% static "material-components-web/dist/material-components-web.js" %}"></script>
    <script>
      var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
      toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
    </script>
  </body>
</html>