{% extends "snippets/base.html" %}

{% block title %}
<section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
  <a class="material-icons mdc-toolbar__icon" href="/snippets/{{ prev_week }}/">navigate_before</a>
  <span class="week-indicator">第{{week_no}}周</span>
  <a class="material-icons mdc-toolbar__icon" href="/snippets/{{ next_week }}/">navigate_next</a>
</section>
{% endblock %}

{% block content %}
{% if snippet_list %}
<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {% for snippet in snippet_list %}
      <button class="mdc-button snippet-button
                  {% if snippet.has_read %}
                    has_read
                  {% endif %}"
            id="snippet-button-{{ snippet.id }}"
            onclick="show({{ snippet.id }}); update_read({{ snippet.id }})">
        {{ snippet.user }}
      </button>
    {% endfor %}
    {% for name in not_submitted %}
      <button class="mdc-button mdc-button--stroked not_submitted">{{ name }}</button>
    {% endfor %}
  </div>
  <ul id="my-tab-contents" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {% for snippet in snippet_list %}
      <li class="mdc-card snippet-card snippet-card-hide" id="snippet-card-{{ snippet.id }}">
        <i class="material-icons snippet-star" onclick="toogle_star({{ snippet.id }})">
          {% if snippet.has_star %}
            star
          {% else %}
            star_border
          {% endif %}
        </i>
        <section class="mdc-card__supporting-text snippet-content">
          {{ snippet.content|linebreaks }}
        </section>
      </li>
    {% endfor %}
  </ul>
</div>
{% else %}
骚雷，没有符合该条件的周报
{% endif %}
{% endblock %}

