{% extends "snippets/base.html" %}

{% block title %}
<section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
  <span class="week-indicator">{{ name }}</span>
</section>
{% endblock %}

{% block content %}
{% if snippet_list %}
<ul id="my-tab-contents">
  {% for snippet in snippet_list %}
    <li class="mdc-card snippet-card" id="snippet-card-{{ snippet.id }}">
      <i class="material-icons snippet-star" onclick="toogle_star({{ snippet.id }})">
        {% if snippet.has_star %}
          star
        {% else %}
          star_border
        {% endif %}
      </i>
      <section class="mdc-card__supporting-text snippet-content">
        第{{ snippet.week }}周:
        <br>
        {{ snippet.content }}
      </section>
    </li>
  {% endfor %}
</ul>
{% else %}
骚雷，没有符合该条件的周报
{% endif %}
{% endblock %}

