{% extends "snippets/base.html" %}

{% block title %}
{% endblock %}

{% block content %}
{% if snippet_lists %}
<div id="snippet-tab-bar-scroller" class="mdc-tab-bar-scroller">
  <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--back">
    <a class="mdc-tab-bar-scroller__indicator__inner material-icons" href="#" aria-label="scroll back button">
      navigate_before
    </a>
  </div>
  <div class="mdc-tab-bar-scroller__scroll-frame">
    <nav id="my-scrollable-tab-bar" class="mdc-tab-bar mdc-tab-bar-scroller__scroll-frame__tabs">
      {% for name, name_pinyin in users %}
        <div class="mdc-tab has_read"
              id="snippet-tab-{{ name_pinyin }}"
              onclick="show('{{ name_pinyin }}')">{{ name }}</div>
      {% endfor %}
      <span class="mdc-tab-bar__indicator"></span>
    </nav>
  </div>
  <div class="mdc-tab-bar-scroller__indicator mdc-tab-bar-scroller__indicator--forward">
    <a class="mdc-tab-bar-scroller__indicator__inner material-icons" href="#" aria-label="scroll forward button">
      navigate_next
    </a>
  </div>
</div>
{% for name, name_pinyin, snippet_list in snippet_lists %}
<ul id="snippet-card-{{ name_pinyin }}" class="snippet-card snippet-card-hide">
  {% for snippet in snippet_list %}
    <li class="mdc-card" id="snippet-card-{{ snippet.id }}">
      <i class="material-icons snippet-star" onclick="toogle_star({{ snippet.id }})">
        {% if snippet.has_star %}
          star
        {% else %}
          star_border
        {% endif %}
      </i>
      <section class="mdc-card__supporting-text snippet-content">
        第{{ snippet.week }}周:
        <br>
        {{ snippet.content }}
      </section>
    </li>
  {% endfor %}
</ul>
{% endfor %}
<script>
  var tabbar = new mdc.tabs.MDCTabBarScroller(document.querySelector('#snippet-tab-bar-scroller'));
</script>
{% else %}
骚雷，没有符合该条件的周报
{% endif %}
{% endblock %}

